form{
  text-align: left;
  width: 85%;
  max-width:800px;
  margin: 0 auto;

  label.label{ //Main labels
    font-weight: bold;
    display:block;
    margin-top:25px;
  }

  > input,> textarea{
    width: 100%;
    padding: 10px;
    background: lighten($colorSecondary, 25%);
    border: 0;
    border-bottom: 2px dashed $colorAccent;
    transition: 0.5s;

    &:focus{
      transform: scale(1.01);
    }
  }

  textarea{
    height: 100px;
  }

  .areasCheckboxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > div{
      width: 50%;
      padding: 10px;

      //Checkbox styling by <https://www.inserthtml.com/2012/06/custom-form-radio-checkbox/>
      label {
        display: block;
        width: 100%;
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"] + label {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 20px;
        display: inline-block;
        position: relative;
      }

      input[type="checkbox"]:hover + label {
        background-color: lighten($colorSecondary, 25%);
      }

      input[type="checkbox"]:checked + label {
        background-color: $colorSecondary;
        color: white;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px $colorSecondary, inset 0px -15px 10px -12px opacify($colorSecondary, 0.9), inset 15px 10px -12px opacify($colorSecondary, 0.9), inset 0px 0px 10px rgba(0,0,0,0.1);
      }

      input[type="checkbox"] + label:active, input[type="checkbox"]:checked + label:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
      }

      input[type="checkbox"] + label {
        padding: 5px 16px;
      }

      input[type="checkbox"] + label:after {
        width: 24px;
        height: 24px;
        left: 4px;
        top: 4px;
      }

    }
  }

  button[type="submit"]{
    @include zoomer;

    cursor: pointer;
    display: block;
    margin:30px auto;
    background: $colorSecondary;
    box-shadow: 2px 2px $colorMain;
    color: white;
    font-weight: bold;
    padding:20px 50px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    outline: none;
    border: none;

    &:hover{
      background: darken($colorSecondary, 10%);
    }
  }

  #www, label[for="www"]{
    height: 1px;
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  .message-ui.loader, .message-ui.alert{
    display: none;
  }

  .message-ui.loader{
    text-align: center;
    margin-top:50px;
  }

  .message-ui.alert .alert{
    margin: 15px;
    padding: 20px 10px;
    background: #91db91;
    border: 2px dashed green;

    &.error{
      background: #f2b7b7;
      border-color:maroon;
    }
  }
}